.container {
  overflow: hidden;
  background-color: var(--grey);
  padding: 10em;
  display: flex;
  flex-direction: row;
  gap: 8em;
}

.container>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 40%;
}

.form {
  display: grid;
  grid-template-areas: "message message message" "name email submit" "error errror errror";
  gap: 0.5em;
  width: 60%;
}

.message {
  width: auto;
  grid-area: message;
  height: 10em;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.submit {
  grid-area: submit;
  margin: 0;
}

.error {
  grid-area: error;
  display: flex;
  width: auto;
  gap: 0.5em;
  color: var(--red);
}
