.section {
  margin: 7em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.experience {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.experience > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3em;
  gap: 1em;
  background-color: var(--grey);
  border-radius: 8px 0 0 0;
}

.experience > div:nth-child(2) {
  padding: 3em;
  background-color: var(--white);
  border-radius: 0 8px 0 0;
  display: flex;
  align-items: center;
}

.education {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.education > div:first-child {
  padding: 3em;
  background-color: var(--white);
  border-radius: 0 0 0 8px;
  display: flex;
  align-items: center;
}

.education > div:nth-child(2) {
  padding: 3em;
  background-color: var(--grey);
  border-radius: 0 0 8px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  width: 100%;
}