:root {
  --black: #353131;
  --white: #F5F5F5;
  --grey: #4D4847;
  --red: #FD7B6E;
  --yellow: #FECA91;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  cursor: crosshair;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
}

h1 {
  font-size: 4em;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  color: var(--yellow);
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0px;
}

input {
  border: 2px solid var(--white);
  background-color: transparent;
  padding: 15px;
  border-radius: 4px;
  color: var(--white);
}

footer {
  padding: 1em;
  color: var(--black);
  background-image: url("../../public/hero.jpg");
  background-size: 100%;
  text-align: center;
  font-size: 16px;
}