.container {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(40deg, #be57a3, #fbe996, #fd8574, #d74e4e);
  background-size: 800% 800%;

  -webkit-animation: gradiant 50s ease infinite;
  -moz-animation: gradiant 50s ease infinite;
  -o-animation: gradiant 50s ease infinite;
  animation: gradiant 50s ease infinite;
}

@-webkit-keyframes gradiant {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@-moz-keyframes gradiant {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@-o-keyframes gradiant {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@keyframes gradiant {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: transparent;
}

.button {
  color: var(--white);
  background-color: transparent;
}

.button:hover {
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.cursor {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid var(--black);
  animation: blink 0.5s step-end infinite alternate;
}

.transparent-background {
  background-color: transparent;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}